doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/base.css')
        link(rel='stylesheet', href=themeCss)
        block theme-css-extra
    body
        div.top-container
            block top-view
                //stub
                p I am in top-view.
        div.header-container
            block header-view
                //stub
                p I am in header-view.
        div.nav-container
            block nav-view
                //stub
                p I am in nav-view.
        div.vitrine-container
            block vitrine-view
                //stub
                p I am in vitrine-view.
        div.footer-container
            block footer-view
                //stub
                p I am in footer-view.
